name: Pulumi
on:
  - pull_request
permissions:
  id-token: write
jobs:
  preview:
    name: Preview
    environment: AWS-STAGING
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          # role-to-assume: ${{ secrets.AWS_GH_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install infra dependencies
        run: |
          cd infra
          pnpm install

      - uses: pulumi/actions@v6
        with:
          command: preview
          stack-name: jonpham/static-web-aws-ts/dev # When using an individual account, only use stack-name.
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
